/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font-sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* DEV STYLING */

body {
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-light));
  /* padding-inline: 2em; */
  /* padding: 2rem; */
  /* margin-inline: auto; */
  /* max-width: 80rem; */
  aspect-ratio: auto;
  /* display: grid;
  align-items: center; */
  width: auto;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  gap: 60px;
  height: min-content;
  padding: 80px 40px;
}

.mainContainer {
  /* width: min(70ch, 100% - 4rem); */
  /* width: auto;
  min-height: 100%;
  display: flex; */
  /* place-content: center flex-start; */
  /* align-items: center;
  flex-flow: column nowrap;
  gap: 60px;
  height: min-content;
  padding: 80px 40px; */
  /* margin-inline: auto;
  display: grid;
  justify-content: center; */
}

.framer-11Kvh .framer-72rtr7 {
  place-content: center flex-start;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 60px;
  height: min-content;
  overflow: visible;
  padding: 80px 40px;
  position: relative;
  width: 800px;
}
