/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --text-clr: hsl(231, 76%, 90%);
  --text-secondary-clr: hsl(240, 5%, 55%);
  --text-accent-clr: hsl(240, 100%, 75%);
  --bg-base-clr: hsl(239, 10%, 6%);
  --bg-accent-clr: hsl(240, 4%, 11%);
  --darkblue-clr: hsl(229, 46%, 14%);
  --select-clr: hsl(240, 15%, 23%);

  /* font-sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.475rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-clr: hsl(239, 10%, 6%);
    --bg-base-clr: hsla(231, 76%, 90%, 0.4);
    --bg-accent-clr: hsla(231, 76%, 90%, 0.7);
    --darkblue-clr: hsl(230, 96%, 90%);
    --select-clr: hsl(240deg 100% 93.92%);
  }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* set up the body */
body {
  line-height: 1.5;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-base-clr);
  color: var(--text-clr);
  padding: 30px 20px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 60px;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.main-container {
  width: 100%;
  min-height: 100%;
  display: grid;
  justify-content: center;
  gap: 50px;
}

footer {
  font-size: var(--fs-200);
  font-weight: 100;
  justify-self: flex-end;
}

/* Medium devices */
@media screen and (min-width: 768px) {
  body {
    padding: 60px 40px;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  body {
    padding: 80px 40px;
  }
}
