.greeting {
  display: inline-block;
}

.greeting-text {
  position: relative;
  animation: type 1s steps(25) forwards;
}

.greeting-underscore {
  position: relative;
  left: -0.1em;
  /* 4x ausführen */
  animation: blink 0.85s cubic-bezier(0.4, 0, 0.6, 1) 4 forwards;
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
