.container {
  width: 100%;
  display: grid;
  gap: 2rem;
  font-size: var(--fs-500);
  letter-spacing: -0.3px;
}

.avatar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: contain;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.external-link {
  display: flex;
  width: 45px;
  height: 45px;
  background-color: var(--bg-accent-clr);
  padding: 2px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.external-link svg {
  display: block;
  margin: auto;
  color: var(--text-gray-clr);
}

.external-link:hover svg {
  transform: scale(1.04);
  opacity: 0.8;
  color: var(--text-accent-clr);
}

.infoContainer {
  display: grid;
  gap: 10px;
}

.availableContainer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.availableContainer > p {
  font-size: var(--fs-300);
  font-weight: 100;
}

.available {
  width: 10px;
  height: 10px;
  border-radius: 999px;
  background-color: hsl(148, 96%, 37%);
}
